<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<div style="height: 10px;/* margin-top: -22.5px; */background-color: TRANSPARENT;padding-top: 22.5px;"><br></div>

<a id="backbutton" onclick="goBack()"> < Back</a>

<div style="float: right;" class="user_info">
    <a href="/profile"><p id="user_name">
        <i class='fas fa-user'></i>
    </p></a>
</div></div>

