<!doctype html>

<html>
<head>
	<title>Login page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/login.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>


</head>




<body>

<!-- FB login sdk -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=521605325153752&autoLogAppEvents=1"></script>





	<div class="container">
		<h2 id="notecast" >NotesCast</h2>
	</div>

    <div class="container">
		<p id="welcome_login">Welcome back to the largest podcast community that offers university level courses!</p>

		<h3 id="login_sub"><b>Login</b></h3>
	</div>



	    <div class="container">
        <!--start of the login form-->
		 <form action="/home" method="get" id="loginForm">

		  <div class="container">
		    <label class="label_style" for="uname">Username</label>
		    <input type="text" placeholder="Enter Username" name="uname" required>

		    <label class="label_style" for="psw">Password</label>
		    <input type="password" placeholder="Enter Password" name="psw" required>

		    <a href="#">Forgot password?</a></p>
		    <div style="height:10px;"><br></div>

		    <button id="loginButton" type="submit" >Login</button>
		    <label>
		      <input type="checkbox" checked="checked" name="remember"> Remember me
		    </label>
		    <div style="height:20px;"><br></div>
		  
				<div class="fb-login-button" width="100%"  data-size="large" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="true"></div>


			<div style="height:10px;"><br></div>
		    <p>Don't have an account? <a href="/signup">Sign up now.</a></p>




		  </div>
		</form>
        <!--end of the login form-->
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
<!--    <script>-->
<!--        function handleLogin() {-->
<!--            window.location.href = `http://localhost:3000/home/Clair Li`;-->
<!--        }-->
<!--    </script>-->
</body>
</html>
