body {
  background-image: url('https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a1575de85893a35_12.%20Tumbleweed.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
