/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab {
    text-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* NotesCast */
#notecast {
font-family: Nunito;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 49px;
text-align: center;
color: #0185FF;
}


/* Change background color of buttons on hover */
/*.tab button:hover {*/
/*    border-bottom-style: solid;*/
/*    border-bottom-color: #3dacd1;*/
/*}*/

.tab button:focus {
    border-bottom-style: solid;
    border-bottom-color: #0185FF;
}

/* Create an active/current tablink class */
.tab button.active {
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
}

#recentlyTab {
    display: none;
}


.recent_box {
    background: linear-gradient(90deg, #0085FF 15.42%, #4247DD 84.27%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    margin: 30px 20px;
}

#searchBar {
    width: 90%;
    font-style: italic;
    border: none;
}

#search {
    /* border: 1px solid #cfcfcf; */
    border-radius: 12px;
    height: 3em;
    padding-top: 0.5em;
    padding-left: 1em;
    /* box-shadow: 0px 5px 10px rgba(70, 70, 70, 0.26); */
    vertical-align: baseline;
    box-shadow: 0px 6px 20px #DDEAFF;
    border-radius: 10px;
    margin: 30px;
}


