body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid white;}

/*
 center the image
*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#welcome_to_notecast{
  margin:20px 20px 2px;
  text-align: left;
    tab-size: 4;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
}

.label_style {
    display: inline-block;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.44);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.same_box_style{
	color: rgba(0, 0, 0, 0.44);
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 10px;
}




input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 10px;
}



button {
  background: linear-gradient(90deg, #0085FF 15.42%, #4247DD 84.27%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 15px 0 12px 0;
}

img.avatar {
  width:150px;
  border-radius: 50%;
}

.container {
  padding: 2px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}